body {
    background-color: #0b0c10;
    padding: 20px;
    margin: 0;
  }
  h2, ul{
    font-family: sans-serif;
  }
  h1 {
    font-family: sans-serif;
    color: #44c723;
  }
  p, li, h2 {
    font-family: sans-serif;
    color: #dddddd;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: auto;
  }
  ul.header {
    background-color: #1f2833;
    padding: 0;
  }
  ul.header li a {
    background-color: #1f2833;
    color: #dddddd;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  ul.header li:hover a{
    background-color: #344355;
    color: #dddddd;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }

  ul.header li .active{
    background-color: #44c723;
    color: #1d1c1c;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #1f2833;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .button {
    background-color: #44c723;
    border: none;
    border-radius: 8px;
    color: #dddddd;
    padding: 10px 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  .button:hover {
    background-color: #58f332;
    border: none;
    border-radius: 8px;
    color: #dddddd;
    padding: 10px 25px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
  a:link {
    color: #44c723;
  }
  a:visited {
    color: #2d8616;
  }
  a:hover {
    color: #58f332;
  }
  input {
    border: 2px solid #2d8616;
    border-radius: 4px;
    margin: 10px 10px 10px 10px;
  }
  input:focus {
    border: 2px solid #58f332;
  }

  div.login {
    text-align: center;
    display: grid;
    
  }
 